body{

    background-image: url("mario.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 50%;
}
.azul{
    background-color: blue;
}
.orange{
    background-color: orange;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
p,h1{
    text-align:center;
}
.whitewine{
    color:#ffbb00;
    list-style-type: square;

}
.redwine{
    color:#800000;
    list-style-type: circle;
}
.esquerda{
    text-align: left;
}
.benefit{
    font-weight: bold;
    color:red;
}
a:link {
    color: blue;
} /* links não visitados */
  
a:visited {
    color: purple;
} /* links visitados */
  
a:hover {
    font-weight: bold;
} /* quando passar o mouse em cima*/
  
a:active {
    color: lime;
} /* links ativos */
  