<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div id="main">
      
        <div id="cabeçalho">
           cabeçalho
            
        </div>    
        <div id="section">
           
            <div id="nav">
                <ul>
                    <li>Google</li>
                    <li>Gmail</li>
                    <li>Youtube</li>
                </ul>
            </div>
            <div id="article">
                <p>Article
                    Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Minima vel laudantium harum. 
                    Error quibusdam exercitationem repellat vitae 
                    repudiandae, ex quod nemo fugiat maxime 
                    quisquam mollitia blanditiis ullam sapiente
                    alias obcaecati?
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur 
                    adipisicing elit. Quas vero, nobis commodi 
                    exercitationem voluptatem, ducimus modi 
                    deleniti, rerum dolorum praesentium facilis. 
                    Consequatur voluptatem nemo sed officia neque 
                    tempora dolor sequi?
                </p>
            </div>
        </div>
        <div id="rodapé">
            Rodapé
        </div>
    </div>
    
</body>
</html>